.start_box {
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: aqua;
}

nav {
    background-color: wheat;
}

section {
    float: left;
    width: 600px;
    background-color: lime;
}

aside {
    float: left;
    width: 272px;
    background-color: yellow;
}

footer {
    background-color: fuchsia;
}

img {
    float: left;
    margin-right: 20px;
}
